@import "tailwindcss";

html,
body {
  overscroll-behavior: none; /* disables bounce/scroll chaining */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

* {
  /* border: 1px solid white; */
  scroll-behavior: smooth;
}
